body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif,sans-serif!important;
    font-size: 12px;
    color: #666;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    text-decoration: none;
    color: unset;
}
p {
    margin: 5px 0;
}
ul {
  text-decoration: none;
}
ul li {
    margin: 5px 0;
}

/* Navigation Bar */
.img-fluid {
  max-width: 150px;
  height: auto;
}
  /***css for background Color**/
  
.bluebg {
    background-color: #32baec;
}
  
.lightgreenbg {
    background-color: #43d9bc !important;
}
  
.lightgreencolor {
    color: #43d9bc;
}
  
.pinkbg {
    background-color: #fb337b;
}
  
.yellowbg {
    background-color: #fdad03 !important;
}
  
.yellowcolor {
    color: #fdad03 !important;
}
  
.primarybg {
    background-color: #c051b3;
}
  
.primarycolor {
    color: #c051b3 !important;
}
  
.whitecolor {
    color: #ffffff !important;
}
  
.all20p {
    padding: 20px;
}
  
.tp20p {
    padding-top: 20px;
  }
  
.tp40p {
    padding-top: 40px;
}
  
.tp60p {
    padding-top: 60px;
}
  
.tb100p {
    padding: 100px 0px;
}
  
.btm12p {
    padding-bottom: 12px;
}
  
.btm60p {
    padding-bottom: 60px;
}
  
.btm20p {
    padding-bottom: 20px;
}
  
.btm30p {
    padding-bottom: 30px;
}
  
.tp20m {
    margin-top: 20px;
}
  
.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}
  
.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
  
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
  
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
  
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}


nav.navbar.transparent-white {
    background-color: #adc0b073;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.3) !important;
            box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.3) !important;
    padding: 5px 10px;
    text-transform: uppercase;
}
  
  /* nav.navbar.transparent-white li a {
    color: #ffffff !important;
  } */
  
.container {
    max-width: 1140px;
}
  
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
  
.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: #fdad03;
}
  
.main-navigation {
    padding: 40px 0px 15px 0px;
    border-bottom: 1px solid #889caa;
    -webkit-transition: all .7s linear;
    transition: all .7s linear;
}
  
.main-navigation .nav-link {
    font-size: 16px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .5px;
}
  
.main-navigation .btn {
    background: transparent;
    color: #333333;
    border-color: #ae5da4;
}
  
.btn-sm {
    padding: 5px 18px;
    border-radius: 50px;
}
  
  /*---------- Transparent Navigation With Black Text Color ----------*/
.main-nav2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
  
.main-nav2 .navbar-nav .nav-link {
    padding-right: 1.4rem;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: .5px;
}
  
.main-nav {
    padding: 20px 0px;
}
  
.main-nav ul {
    margin-left: 50px;
}
  
.main-nav ul li a {
    font-size: 16px;
}
  
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.4rem;
    color: #333333;
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
}
  
.navbar-expand-lg.onepage-nav .navbar-nav .nav-link {
    padding-right: 1.4rem;
    color: #333333;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
}
  
.dropdown {
    position: relative;
}
  
.dropdown .dropdown-menu {
    background: #ffffff;
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    border: 0px;
    display: block;
}
  
.dropdown .dropdown-menu .dropdown-item {
    color: #333333 !important;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}
  
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #ae5da4 !important;
}
  
.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0px;
}
  
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
  
.dropdown-toggle::after {
    display: none;
}
  
nav.navbar.transparent-white.top-nav-collapse {
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08) !important;
}
  
.ind-btn {
    background-color: #19842C;
    border-radius: 0px;
    color: #fff;
    padding: 7px 15px;
    border: none;
    margin: 0 5px;
}
  
.buz-btn {
    background-color: #fdad03;
    border-radius: 0px;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #fdad03;
}
  
.sub-title {
    font-size: 16px;
    color: #fdad03;
    font-weight: 300;
}



/** css for footer **/
footer {
    background: url(../img/footer-bg2.png) no-repeat 50% 100% #117D2B;
  }
  
footer p {
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
    padding-right: 25px;
}
  
footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
  
footer ul li {
    padding: 5px 0px;
    line-height: 1.4;
}
  
footer ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
  
.ftr-information {
    position: relative;
}
  
.ftr-information ul li {
    padding-left: 20px;
}
  
.ftr-information ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-information ul li:first-child::before {
    content: "\f05a";
}
  
.ftr-information ul li:nth-child(2)::before {
    content: "\f2a0";
}
  
.ftr-information ul li:nth-child(3)::before {
    content: "\f022";
}
  
.ftr-information ul li:nth-child(4)::before {
    content: "\f21b";
}
  
.ftr-information ul li:nth-child(5)::before {
    content: "\f03e";
}
  
.ftr-individual {
    position: relative;
}
  
.ftr-individual ul li {
    padding-left: 20px;
}
  
.ftr-individual ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-individual ul li:first-child::before {
    content: "\f25d";
}
  
.ftr-individual ul li:nth-child(2)::before {
    content: "\f689";
}
  
.ftr-individual ul li:nth-child(3)::before {
    content: "\f09c";
}
  
.ftr-individual ul li:nth-child(4)::before {
    content: "\f059";
}
  
.ftr-business {
    position: relative;
}
  
.ftr-business ul li {
    padding-left: 20px;
}
  
.ftr-business ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-business ul li:first-child::before {
    content: "\f469";
}
  
.ftr-business ul li:nth-child(2)::before {
    content: "\f25d";
}
  
.ftr-business ul li:nth-child(3)::before {
    content: "\f09c";
}
  
.ftr-business ul li:nth-child(4)::before {
    content: "\f059";
}
  
.ftr-contact {
    position: relative;
}
  
.ftr-contact ul li {
    padding-left: 20px;
}
  
.ftr-contact ul li::before {
    color: #5fcbec;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 600;
    left: 0px;
    position: absolute;
}
  
.ftr-contact ul li:first-child::before {
    content: "\f276";
}
  
.ftr-contact ul li:nth-child(2)::before {
    content: "\f25d";
}
  
.ftr-contact ul li:nth-child(4)::before {
    content: "\f0e0";
}
  
.social-media a {
    display: inline-block;
    margin: 0px 5px;
    border-radius: 5px;
    font-size: 36px;
    color: #fff;
}
.social-icon a {
    font-size: 20px;
    margin-right: 3px;
    color: white;
    border: 1px solid;
    padding: 2px;
}
.fbuttons a {
    margin: 2%;
    width: 29%;
    float: left;
}
.fbuttons img {
    width: 100%;
}
.fbuttons-payments img {
    width: 100%;
}
.mobile-app-wrap {
    margin-top: 25px;
    border: 2px solid #FFF;
    border-radius: 10px;
    position: relative;
}
.payment-wrap {
    border: 2px solid #FFF;
    position: relative;
    margin-top: 25px;
    border-radius: 10px;
}
h3.mobile-app {
    position: absolute;
    color: #FFF;
    top: -15px;
    left: 15px;
    background: #117d2b;
    font-size: 20px;
    padding: 0 5px;
}
  
.fbuttons {
    display: inline-block;
    margin: 20px 0 10px;
  }
.fbuttons-payments {
    display: inline-block;
    margin: 20px 20px 10px;
}
  
.fbuttons a {
    margin-right: 6px;
  }
.fbuttons-payments a {
    width: 36%;
    float: left;
    margin: 2%;
}
h3.payment-title {
  position: absolute;
  top: -15px;
  left: 15px;
  background: #117d2b;
  color: #FFF;
  font-size: 20px;
  padding: 0 5px;
}  




/* Rolling Able Banner */
section.able-banner {
    box-shadow: 1px 1px 1px 1px #e2f1ea;
    padding-bottom: 30px;
}

/* Rolling Nav Bar -2 */
.nav-bar-2-wrap {
    background: #05A73B;
    color: #FFF;
    padding: 5px 10px;
    position: relative;
    top: -30px;
}
.nav-bar-2-wrap ul {
    list-style: none;
    padding: unset;
    margin: unset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
li.nav-bar-li a.nav-link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:  'Courier New', Courier, monospace !important;
}
.nav-bar2 .navbar {
    justify-content: flex-end;
}
.nav-bar2 .nav-link {
    color: #FFF !important;
    font-weight: 600 !important;
}

/* Able jobs */
.heading-wrap {
    position: relative;
}
.line {
    padding: 3px;
    height: 27px;
    background: #05A73B;
    position: absolute;
    left: 0;
}
p.section-heading {
    font-size: 18px;
    margin-left: 25px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600
}
.job-row {
    padding: 20px 0;
}
.job-wrap {
    display: flex;
    flex-direction: row;
    border: 1px solid #d2d2d2;
    margin: 7px 0;
}
.job-wrap:hover {
    box-shadow: 1px 1px 7px 1px #d2d2d2;
}
img.able-job-img {
    width: 85px;
    height: 90px;
    padding: 5px;
}
.able-job-content {
    padding: 0 5px;
}
p.job-title {
    color: #1683ac;
    font-size: 14px;
    font-weight: 500;
}
p.job-provider {
    font-weight: 600;
}
p.submission-date {
    color: #e7303b;
}
p.jobs-view-more {
    margin: 25px;
    text-align: center;
    color: #0ea6d0;
    font-weight: 500;
}
p.jobs-view-more:hover {
    color: #666;
}


/* Rolling Able About Us */
.rolling-about-us {
    position: relative;
}
.rolling-about-us:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(189 255 220 / 80%);
}
.about-us-wrap {
    padding: 35px 0;
}
.about-content {
    padding: 20px 0;
    text-align: justify;
}
p.about-desc {
    color: #232323;
}
.about-us-img-wrap {
    position: relative;
}
.img-outer-border {
    border: 2px solid #000;
    width: 95%;
    margin-left: auto;
    height: 330px;
    position: absolute;
    right: 0;
    border-radius: 10px;
    z-index: 1;
}
.img-outer {
    padding: 30px 0;
}
img.about-us-img {
    width: 95%;
    height: 330px;
    border-radius: 10px;
    position: absolute;
    z-index: 9;
}


/* Able Event Video */
section#able_event {
    padding: 50px 0;
}
.vdo-sec {
    margin: 10px 0;
}
.bs-example {
    height: 290px;
    width: 100%;
    background-size: cover;
}
.modal-dialog iframe{
    margin: 0 auto;
    display: block;
}
a.btn.btn-primary.btn-lg {
    position: absolute;
    top: 47%;
    left: 43%;
    border-radius: 10px;
}
.bs-example .btn-primary {
    background-color: #424242b3;
    border: none;
    padding: 5px 25px;
    font-size: 25px;
}
.bs-example .btn-primary:hover {
    background-color: #e22424e3;
}
.bs-example .btn:focus {
    box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #424242b3;
    border: none;
}
.modal-body {
    padding: unset;
}

/* video Content */
p.video-date {
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    font-style: italic;
}
p.video-location {
    display: inline-block;
    font-weight: 600;
}
p.video-desc {
    text-align: justify;
}
.btn-video {
    margin: 10px 0;
}
button.btn-video-content {
    border: none;
    padding: 6px 25px;
    background: #05a73b;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Our Strategy */
.strategy-bg {
    position: relative;
    padding: 30px 0;
}
.strategy-bg:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(201 236 201 / 50%);
}
p.section-heading-2 {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.strategy-wrap {
    padding: 10px;
    border: 1px solid #cacaca;
    margin: 10px 0;
}
.strategy-wrap:hover {
    box-shadow: 1px 2px 10px 2px #c3c3c3;
}
p.strategy-desc {
    text-align: center;
    margin: 20px 0;
    color: #505050;
}
p.s-icon {
    font-size: 50px;
    text-align: center;
    color: #5ca969;
}
p.icon-title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #444242;
}
p.icon-desc {
    text-align: justify;
    margin: 10px;
}

/* Gallery */
.gallery-wrap {
    position: relative;
    padding: 30px 0 50px;
}
.gallery-wrap:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(43 182 164 / 78%);
}
.gallery-wrap p.section-heading-2 {
    color: #FFF;
}
.gallery-wrap p.strategy-desc {
    color: #ffe6e6;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    position: relative;
}
.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.gallery-item:nth-child(1) {
    grid-row: span 1;
    grid-column: span 4;
    height: 250px;
}
.gallery-item:nth-child(2) {
    grid-row: span 2;
    grid-column: span 2;
    height: 500px;
}
.gallery-item:nth-child(3), .gallery-item:nth-child(4) {
    grid-column: span 2;
    height: 240px;
}
 .gallery-item:nth-child(10), .gallery-item:nth-child(11) {
    grid-row: span 1;
    grid-column: span 3;
    height: 200px;
}
.gallery-item:nth-child(6) {
    grid-row: span 2;
    grid-column: span 2;
    height:  410px;
}
.gallery-item:nth-child(5), .gallery-item:nth-child(7), .gallery-item:nth-child(8), .gallery-item:nth-child(9) {
    grid-row: span 1;
    grid-column: span 2;
    height: 200px;
}
.gallery-item [class*=" imghvr-"], [class^="imghvr-"] {
    width: 100%;
    height: 100%;
}
.gallery-item [class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    padding: 10px 15px;
}
.fig-cap-title {
    font-size: 16px;
    font-weight: 600;
}
.fig-cap-desc {
    font-size: 12px;
}
.btn-gallery-wrap {
    margin: 20px 0;
}
.view-more-gallery {
    border: none;
    padding: 5px 20px;
    font-size: 14px;
    outline: none;
    font-weight: 600;
}
.view-more-gallery:hover {
    background: #19842c;
    color: #FFF;
}
.gallery-item [class*=" imghvr-"] a, [class^="imghvr-"] a {
    position: unset;
}



/* Gallery 2 */
.gallery-title {
    font-size: 16px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    margin: 5px 0 10px;
}
.gallery-2-wrap {
    box-shadow: 1px 2px 10px 1px #16391f;
    margin: 15px 0;
}
.img-gallery-2 {
    width: 100%;
    height: 180px;
}
.btn-gallery-2 {
    border: 1px solid #666;
    outline: none;
    padding: 5px 20px;
    width: 100%;
    font-size: 14px;
    background: transparent;
    color: #FFF;
    font-weight: 500;
    
}
.gallery2-content {
    padding: 20px 30px 25px;
}
.btn-gallery-2:hover {
    border: 1px solid #FFF;
    background: #FFF;
    color: #000;
}





/* Single Page Gallery */
.category-view-gallery {
    padding: 15px 0 25px;
}
.category-img {
    margin: 10px 0;
}
.img-category-view {
    width: 100%;
    height: 180px;
}


/* Blog Post */
section.blog-wrap {
    padding: 40px 0;
}
.blog-tabs {
    padding: 30px 0;
}
img.blog-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.post-content {
    padding: 10px 15px;
    box-shadow: 1px 2px 10px 1px #666;
    position: relative;
    top: -20px;
    z-index: 99;
    background: #FFF;
    margin: 5px 10px;
}
p.p-content-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 2px;
    color: #696969;
}
ul.content-icon {
    margin: unset;
    padding: unset;
    list-style: none;
    display: inline-block;
}
ul.content-icon li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
p.blog-desc {
    text-align: justify;
    line-height: 22px;
}
.btn-see-more {
    margin: 15px 0 20px;
}
button.btn-blog {
    border: none;
    padding: 7px 10px;
    background: #19842c;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}
.blog-list p.blog-list-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 2px;
}
.blog .nav-link {
    box-shadow: 1px 2px 10px 1px #e0dada;
    margin-bottom: 15px;
}
.blog .nav-link.active {
    color: #FFF !important;
    background-color: #6fd080;
    border-radius: unset;
}
li span {
    color: #05a73b;
}
.nav-link.active span {
    color: #FFF !important;
}


/* Single Page Blog */
.blog-category {
    margin: 30px 0 5px;
    font-size: 16px;
    color: #bd1c1c;
}
.blog-content {
    margin: 25px 0 0;
}
.s-b-img {
    width: 100%;
    height: 300px;
}
.publis-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.publis-ul li {
    display: inline-block;
    margin-right: 10px;
}
.publis-ul i {
    color: #bd1c1c;
}
.share-icon {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.share-icon li {
    display: inline-block;
    font-size: 25px;
    padding: 5px;
    margin: 0;
}
.publis-details {
    border: 1px solid #ddd;
    padding: 0 10px;
    margin: 10px 0;
}
.blog-d-title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.blog-d-content {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.img-s-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}
.blog-s-img {
    width: 100%;
}
.author-details {
    display: flex;
}
.author-img {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    padding: 5px;
}
.author-title {
    font-size: 18px;
    font-weight: 600;
}
.auhor-designation {
    margin: 10px;
}
.author-desc {
    font-size: 14px;
}
.m-read-articles {
    border: 1px solid #DDD;
    padding: 10px;
    margin-bottom: 15px;
}

/* Sidebar */
.sidebar-ad {
    margin: 30px 0 15px;
    border: 1px solid #DDD;
    padding: 5px;
}
.sidebar-ad-img {
    width: 100%;
    border: 1px solid #ddd;
}
.related-articles-sidebar {
    padding: 5px;
    border: 1px solid #DDD;
}
.article-count {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px; 
}
.img-article {
    width: 100px;
}
.article-title {
    margin: 0 10px;
    font-size: 15px;
    font-weight: 600;
}





